body { background: #a15038; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 52px; display: flex; }
.block-filter-0 { color: #b0225a; font-size: 12px; margin-bottom: 5px; }
.block-router-1 { color: #8a7f59; font-size: 16px; margin-bottom: 5px; }
.block-sms-2 { color: #4ed439; font-size: 16px; margin-bottom: 5px; }
.block-order-3 { color: #3db784; font-size: 14px; margin-bottom: 5px; }
.block-invoice-4 { color: #bd903a; font-size: 12px; margin-bottom: 5px; }